.card {
  border-radius: 0.5rem;
}

.card img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#search .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search .card-body button {
  float: right;
}

#title {
  position: absolute;
  bottom: 0;
}

#top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
